body{
    background-color: white;
}
.d-block{
    height: 100vh;
}
.header{
    text-align: center;
    font-size: 14px;
    width:960px;
    margin:0 auto;
    background-color: #F2F2F2;
}
.spaceForHeaderText{
margin-left: 10px;
margin-right: 10px;
}
.bannerTopAlignment{
    margin-left:40px;
    font-size: 18px;
}
.container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.middle{
    width:960px;
    margin:0 auto;
}
.overlay{
    position: absolute;
    width:960px;
    margin:0 auto;
    margin-left: -15px;
}
 .form{
    width:30% !important;
    background-color: #F2F2F2;
    align-content: center;
    height:17rem;
    margin-top: 30px;
} 
#user-email{
    margin-top:15px;
    margin-left:10px;
    width: 95%;
    border:1px solid lightgray;
}
#user-password{
    margin-left:10px;
    width: 95%;
    border:1px solid lightgray;
}
#emailText{
text-align: center !important;
}
.login{
    color:white;
}
.btnAlign{
    margin-left: 3px;
    margin-bottom: 3px;
    background-color: transparent !important;
    color: black;
    border:1px solid white;
}
.form2{
    width:235px;
    padding:-30px !important;
    background-color: #c41230;
    position: absolute;
    bottom: -30%;
    margin-top:100px;
    color:white;
    font-size: 12px;
}
.atmLocator{
    float: left;
}
.bottom{
    position: fixed;
    width:100vw;
    bottom:0%; 
}
.card-header{
    padding-top: 0px;
    padding-bottom: 0px;
    height:40px;
}
.card-footer{
    background-color: darkblue;
    padding-top: 0px;
    padding-bottom: 0px;
}
li{
    font-size: 12px !important;
    justify-content: center;
    float: left;
    margin-left: 13px
}
ul{
    margin-top: 10px;
    margin-bottom: 5px;
}