body{
    background-color: white;

}
.d-block{
    height: 100vh;
}
.alert-light{
    background-color: grey !important;
    height:15px; 
    position: fixed;
    top:100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
    margin-top: 5%;
    position: relative;
}
 .form{
    width:30% !important;
    background-color: #F2F2F2;
    align-content: center;
} 
#user-email{
    margin-left:15px;
    width: 90%;
    border:1px solid lightgray;
}
#user-password{
    margin-left:15px;
    width: 90%;
    border:1px solid lightgray;
}
#emailText{
text-align: center !important;
}
.login{
    color:white;
}

.btnAlign{
    margin-left: 3px;
    margin-bottom: 3px;
    background-color: transparent !important;
    color: black;
    border:1px solid white;
}
.bottom{
    position: fixed;
    width:100vw;
    bottom:0%; 
}
.card-header{
    padding-top: 0px;
    padding-bottom: 0px;
    height:40px;
}
.card-footer{
    background-color: darkblue;
    padding-top: 0px;
    padding-bottom: 0px;
}
li{
    font-size: 12px !important;
    justify-content: center;
    float: left;
    margin-left: 13px
}
ul{
    margin-top: 10px;
    margin-bottom: 5px;
}