body{
    background-color: white;
}
.d-block{
    height: 100vh;
}
.header{
    text-align: center;
    font-size: 14px;
    width:960px;
    margin:0 auto;
    background-color: #F2F2F2;
}
.spaceForHeaderText{
margin-left: 10px;
margin-right: 10px;
}
.bannerTopAlignment{
    margin-left:40px;
    font-size: 18px;
}
.container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.middle{
    width:960px;
    margin:0 auto;
}
.overlay{
    width:960px;
    height:90%;
    margin:0 auto;
    margin-left: -15px;
    /* position: relative; */
}
/* .overylay:after{
        content: " ";
        z-index: 10;
        display: block;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        opacity: .5;
        border:2px solid red
} */
.cover{
    /* position:absolute; */
    /* left:0; */
    background: rgba(255,255,255,.5);
}
 .form{
    width:30% !important;
    background-color: #F2F2F2;
    align-content: center;
    height:17rem;
    margin-top: 30px;
    position: absolute;
} 
#user-email{
    margin-top:15px;
    margin-left:5px;
    width: 95%;
    border:1px solid lightgray;
}
#user-password{
    margin-left:5px;
    width: 95%;
    border:1px solid lightgray;
}
#emailText{
text-align: center !important;
}
.login{
    color:#012269;
}
.signUp{
    color:#012269;
}
.btnAlign{
    margin-top:20px;
    margin-left: 3px;
    margin-bottom: 3px;
    background-color: transparent !important;
    color: black;
    border:1px solid white;
}
.form2{
    width: 240px;
    padding: -30px !important;
    background: linear-gradient(#c41230,#8a2a2b);
    position: absolute;
    bottom: 28%;
    /* top: 50%; */
    /* margin-top: 100px; */
    color: white;
    font-size: 12px;
}
#checkBox{
    height: 25px;
    width: 25px;
    margin-left: 5px;
}
#saveId{
    margin-right: 80px;
}
#saveId{
  float: right;
  font-size: 13px;  
}
#forgot{
    font-size: 12px;
    position: relative;
    bottom: -10%;
}
.atmLocator{
    float: right;
    width: 90%;
    margin-top: 10px;
}
.bottom{
    position: fixed;
    width:100vw;
    bottom:0%; 
}
.card-header{
    padding-top: 0px;
    padding-bottom: 0px;
    height:40px;
}
.card-footer{
    background-color: darkblue;
    padding-top: 0px;
    padding-bottom: 0px;
}
li{
    font-size: 12px !important;
    justify-content: center;
    float: left;
    margin-left: 13px
}
ul{
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 0px;
}

.bannerTopAlignment:hover, .spaceForHeaderText:hover, .atmLocator:hover, #forgot:hover, .checkbox:hover, i:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .bannerTopAlignment:hover, .spaceForHeaderText:hover {
    text-decoration: underline;
    cursor: pointer;
  }